{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
{%
  set wrapper_classes = wrapper_classes|default([
    'my-3'
  ])
%}
{% set list_attributes = list_attributes|default(create_attribute()) %}
{%
  set list_classes = list_classes|default([
    'list-reset',
  ])
%}
{%
  set message_classes = message_classes|default([
    'mb-1',
    'border-l-8',
    'p-4',
  ])
%}
{% for type, messages in message_list %}
  {%
    set type_classes = [
      type == 'error' ? 'bg-red-100',
      type == 'warning' ? 'bg-orange-100',
      type == 'status' ? 'bg-green-100',
      type == 'error' ? 'border-red-500',
      type == 'warning' ? 'border-orange-500',
      type == 'status' ? 'border-green-500',
      type == 'error' ? 'text-red-900',
      type == 'warning' ? 'text-orange-900',
      type == 'status' ? 'text-green-900',
    ]
  %}
  <div role="{{ type == 'error' ? 'alert' : 'contentinfo' }}" aria-label="{{ status_headings[type] }}" {{ attributes.addClass(wrapper_classes)|without('role', 'aria-label') }}>
    {% if status_headings[type] %}
      <h2 class="visually-hidden">
        {{ status_headings[type] }}
      </h2>
    {% endif %}
    {% for message in messages %}
      <div {{ create_attribute({'class':message_classes|merge(type_classes)} ) }}>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endfor %}
