{#
/**
 * @file
 * Default theme implementation for a three column layout.
 *
 * This template provides a three column 25%-50%-25% display layout, with
 * additional areas for the top and the bottom.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set layout_classes = layout_classes|default([
    'sm:grid',
    'sm:grid-cols-3',
    'sm:gap-4',
  ])
%}
{%
  set region_classes = region_classes|default([
    'grid',
    'grid-cols-1',
    'gap-4',
  ])
%}
{% if content %}
  <div{{attributes.addClass(layout_classes)}}>
    {% if content.first %}
      <section
        {{ region_attributes.first.addClass(region_classes) }}>
        {{ content.first }}
      </section>
    {% endif %}
    {% if content.second %}
      <section
        {{ region_attributes.second.addClass(region_classes) }}>
        {{ content.second }}
      </section>
    {% endif %}
    {% if content.third %}
      <section
        {{ region_attributes.third.addClass(region_classes) }}>
        {{ content.third }}
      </section>
    {% endif %}
  </div>
{% endif %}
