{#
/**
 * @file
 * Theme override for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 */
#}
{%
  set classes = classes|default([
    'border',
    required ? 'border-red-500',
    'rounded',
    'p-3',
    'my-2',
    'flex',
    'flex-col',
  ])
%}
<details{{attributes.addClass(classes)}}>
  {%
    set summary_classes = [
      'font-bold',
      required ? 'js-form-required',
      required ? 'text-red-600',
      required ? 'border-red-500',
    ]
  %}
  {%- if title -%}
    <summary{{summary_attributes.addClass(summary_classes)}}>{{ title }}</summary>
  {%- endif -%}

  {% if errors %}
    <div>
      {{ errors }}
    </div>
  {% endif %}
  <small class="my-3 text-gray-600">
    {{ description }}
  </small>
  {{ children }}
  {{ value }}
</details>
