
{% set block_classes = [
  'my-3',
] %}

{% set heading_element = 'div' %}
{% set title_classes = [
  'pr-2',
  'py-2',
  'w-full',
  'font-thin',
  'font-semibold',
  'cursor-pointer',
  'flex',
  'items-center',
  'justify-between',
] %}

{% set content_attribute = content_attribute|default(create_attribute()) %}
{% set content_classes = [] %}

<div{{attributes.addClass(block_classes)}} x-data="{ show: true }">
	{% block title %}
		{{ title_prefix }}
		{% if label %}
			<{{heading_element}}>
        <button{{create_attribute({class: title_classes})}} x-bind:aria-expanded="show.toString()" @click="show = !show">
          <span>{{ label }}</span>
          <i class="transform transition ease-out duration-300 opacity-50" x-bind:class="{ 'rotate-180': !show }">{% include active_theme_path() ~ '/icons/chevron-up.svg' %}</i>
        </button>
      </{{heading_element}}>
		{% endif %}
		{{ title_suffix }}
	{% endblock %}
	{% block content %}
		<div{{content_attribute.addClass(content_classes)}} x-show="show">
			{{ content }}
		</div>
	{% endblock %}
</div>
