{% embed 'block.html.twig' with {
  'block_classes': [
    'mb-3',
    'border-2',
    'border-b',
    'rounded',
  ],
  'heading_element': 'div',
  'title_classes': [
    'bg-fog',
    'p-4',
    'text-2xl',
    'font-bold',
    'rounded-t',
    'border-b-2',
  ],
  'content_classes': [
  ],
} %}
{% block title %}
  {{ title_prefix }}
  {% if label %}
    <{{ heading_element }}{{ title_attributes.addClass(title_classes) }}>{{ label }}</{{ heading_element }}>
  {% endif %}
  {{ title_suffix }}
{% endblock %}
{% block content %}
  <div{{ content_attribute.addClass(content_classes) }}>
    {{ content }}
  </div>
{% endblock %}
{% endembed %}
