{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{%
  set block_classes = [
    'flex',
    'flex-row',
    'items-center',
    'mr-2',
  ]
%}

{% set link_attributes = link_attributes|default(create_attribute()) %}
{%
  set link_classes = link_classes|default([
    'text-2xl',
    'font-semibold',
  ])
%}

{% set logo_attributes = logo_attribute|default(create_attribute()) %}
{%
  set logo_classes = logo_classes|default([
    'h-8',
    'w-24',
    'mr-2',
  ])
%}

{% block content %}
  {% if site_logo %}
    <a{{ logo_attributes.addClass(logo_classes) }} href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      {% include active_theme_path() ~ '/logo.svg' %}
    </a>
  {% endif %}
  {% if site_name %}
    <a{{ link_attributes.addClass(link_classes) }} href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
